
.player_box{
    border:1px solid black;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:[name] 60px [role] 60px [trait] 60px [skill] 60px;

}

.card_box{
    //min-width:200px;
    margin:1px;
    padding:2px;
}

.selected{
    font-size:large;
    border:3px solid black;
}

.kind_Role{
    background:#9999ff;
    grid-row-start:role;
}

.kind_Goal{
    background:#ff9999;
    grid-row-start:role;
}

.kind_Trait{
    background:#ff66bb;
    grid-row-start:trait;
}

.kind_Skill{
    background:#99ff99;
    grid-row-start:skill;
}

.message_box{
    grid-column-start:2;
    grid-row-start:1;
    grid-column-end:span 4;

    background:#bbbbbb;
}
